// .form-inputs {
//   // margin: 50px 50px 775px 100px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   display: grid;
//   background-color: rgb(254, 102, 10);
//   // margin: 25px 50px 75px 100px;
// }

 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;

 }

// .form-actions {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   display: grid;
// }

// .btn {
// //   color: black;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   display: grid;
// }

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(249, 171, 64);
  transition: background 0.3s ease;
  width: 100%;
  }

.whole-page {
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  // background-color: rgb(249, 171, 64);

}
