<div class="footer border-top">
    <div class="container text-left text-middle d-flex justify-content-between">
      <p><small>© 2020 Miet Your Wagon, Inc. All rights reserved</small></p>
    </div>
    <div class="footer-links" id="footer-links">
      <a href="#"><i class=""></i><small>Privacy</small></a>
      <a href="#"><i class=""></i><small>Terms</small></a>
      <a href="#"><i class=""></i><small>Sitemap</small></a>
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</div>
