<section class="video">


<!--   <%= image_tag "miet_logo.png" %>
 -->
  <%= video_tag "wagon.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video-background" %>

  <div class="welcome-msg">
    <h1>MIET YOUR WAGON</h1>
    <h2>Instantly <span class="coral-text">rent cars</span> near you</h2>
       <a href="#" class="btn btn-start">Let's go</a>
       <p class="definition">
         <strong>mieten</strong><br>
       </p>
        <span id="light-text">
        <em>verb<br>

        /ˈmiːtən/</em><br>
        </span>
      <p class="definition">

        <strong>to rent</strong>
      </p>
  </div>
</section>
