<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://resources.turo.com/f/81934/1536x1200/31e6dc24f1/uk-hero_768px-2x-05deeae4.jpg);">
  <div class="container">
    <h1 class="text-center">Instantly rent cars near you <small>by the day or by hour</small></h1>
    <p class="text-center">Book unforgettable cars from trusted hosts around the world</p>
    <div class="d-flex justify-content-center">
      <%= link_to "Join now", new_user_registration_path, class: "btn-ghost" %>
    </div>
  </div>
</div>
