h1 {
  text-align: center;
}

.main-container {
  display: flex;
}

#map {
  height: 100vh;
}

.cards {
  flex-grow: 1;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  margin-top: 16px;
}

.cards-container {
  width: 100%;
  padding: 16px;
}

.main-container-first {
  width: 63%;
  text-align: center;
  margin-top: 16px;
}


.main-container-second {
  margin-top: 24px;
  margin-right: 16px;
  width: 36%;
}
