h1 {
  text-align: center;
}


.main-container {
  display: flex;
}

#map {
  height: 100vh;
}

.cards {
  flex-grow: 1;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  margin-top: 73px;
}

.cards-container {
  width: 100%;
  padding: 16px;
}
