.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  text-decoration: none;
  background-color: white;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(249, 171, 64);
  transition: background 0.3s ease;
  width: 100%;
}

.btn-flat:hover {
  background: rgba(249, 171, 64, 0.3);
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-warning {
  background: rgb(249, 171, 64);
  border: none;
}

.btn:hover {
  font-weight: bold;
}

.btn {
  color: #4A4A4A;
  text-align: left;
  padding-left: 0;

.popup-button {
  background: rgb(249, 171, 64);
  padding: 4px;
  margin-top: 8px;
  border-radius: 2px;
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 100%;
}

.popup-button:hover {
  background: #E67E22;
  color: white;
}
