.navbar-lewagon {
  justify-content: space-between;
  background: rgb(247, 247, 247);
  height: 56px;
  padding: 0px 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
