.navbar-lewagon {
  justify-content: space-between;
  height: 56px;
  padding: 0px 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar p {
  text-align: middle;
  font-weight: light;
  color: black;
  text-decoration: none;
}

#title {
  font-size: 18px;
}

.hire {
  border-radius: 16px;
  border: 2px solid rgba(249, 171, 64, 0.2);
  background-color: rgba(249, 171, 64, 0.5);
  margin: 0px 8px;
  font-weight: bold;
}

.hire:hover {
  background-color: rgb(249, 171, 64);
  transition: 0.5s ease;
}
